/* @media (min-width: 700px) {
    body {
        background-color: pink;
    }
}

@media (min-width: 1000px) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 3529px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 4489px) {
    body {
        background-color: red;
    }
} */


#box1{
    height: 300px;
    width: 400px;
    background-color: red;
}

#box2{
    position: absolute;
    left:600px;
    height: 300px;
    width: 400px;
    background-color: yellow;
}

#box3{
    position:absolute; 
    height: 300px;
    width: 400px;
    background-color: pink;
}

    
